<div class="px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20">
  <h5 class="mb-2 mb-8 text-4xl font-extrabold leading-none md:pl-2">
    The quick, brown fox<br class="hidden md:block" />
    jumps over
    <span class="inline-block text-deep-purple-accent-400">a lazy dog</span>
  </h5>
  <div class="grid gap-3 row-gap-3 lg:grid-cols-3">
    <ul class="space-y-3">
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        Sed ut perspiciatis unde omnis iste
      </li>
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        I'll be sure to note that in my log
      </li>
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        Well, that's certainly good to know
      </li>
    </ul>
    <ul class="space-y-3">
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        Leverage agile frameworks to provide
      </li>
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        Dingy I'm tellin' you rhubaahb Bangah
      </li>
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        That is the true genius of America
      </li>
    </ul>
    <ul class="space-y-3">
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        We meet at one of those defining
      </li>
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        We did not go by choice, we went
      </li>
      <li class="flex items-start">
        <span class="mr-1">
          <svg class="w-5 h-5 mt-px text-deep-purple-accent-400" stroke="currentColor" viewBox="0 0 52 52">
            <polygon stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" points="29 13 14 29 25 29 23 39 38 23 27 23"></polygon>
          </svg>
        </span>
        Those options are already baked in
      </li>
    </ul>
  </div>
</div>